*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  position: sticky;
  padding: 0;
  top: 0;
  z-index: 1000;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  .logo-vertical {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #222;
    font-weight: bold;
    font-size: 16px;
    width: 300px;
    img{
      width: 32px;
      margin-right: 10px;
    }
    .site-title{
      color: rgba(0, 0, 0, 0.88);
      font-weight: bold;
      font-size: 18px;
      font-family: AlibabaPuHuiTi,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji',sans-serif;
    }
  }
  .header-action{
    height: 23px;
    display: flex;
    padding-left: 20px;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.06);
  }
  .header-right{
    height: 100%;
    padding-right: 50px;
  }
}
.sider{
  margin-top: 30px;
  height:calc(100vh - 94px);
  overflow-y:auto;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
}
.main-content{
  padding: 16px;
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
}

.full-screen-centered{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
